<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema BRT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <header id="main-nav-bar">
        <nav>
            <img src="{{ url_for('static', filename='logo-onibus.svg') }}" alt="Logo ônibus" class="logo_onibus">
        </nav>
    </header>

    <section class="apresentacao">
        <div>
            <h1>Sistema de Controle de Tráfego BRT</h1>
            <p>Consulte rotas e estações do sistema.</p>
        </div>
    </section>

    <section class="row">

        <div class="card-relatorios">
            <h2>Rotas</h2>
            <p>Encontre a rota do seu ônibus</p>

            <form action="/consultar_onibus" method="get">
                <label>Número da linha:</label>
                <input
                    type="number"
                    name="linha"
                    placeholder="Ex: 123"
                    class="input-linha"
                >
                <button type="submit">Buscar</button>
            </form>
        </div>

        <div class="card-relatorios">
            <h2>Estações</h2>
            <p>Consultar estação</p>

            <form action="/buscar_estacao" method="get">
                <label>ID:</label>
                <input
                    type="number"
                    name="id_estacao"
                    placeholder="Ex: 1"
                    class="input-linha"
                >
                <button type="submit">Buscar</button>
            </form>
        </div>

    </section>

</body>
</html>